<footer class="fixed-bottom footer font-small blue">
    <div class="footer text-center py-3">
        Made with
        <i style="color: #e25555" class="fa-solid fa-heart"></i>
        by Ruben Talstra
    </div>
</footer>