<nav class="navbar navbar-light navbar-dark" style="background-color: #1e5a9a">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PureMatters Inventory</a>

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">


            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-secondary" href="/settings-products" role="button">
                    <i class="fa-solid fa-gear"></i> Product instellingen
                </a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a class="btn btn-secondary" href="/system-settings" role="button">
                    <i class="fa-solid fa-gear"></i> Systeem instellingen
                </a>
            </div>


        </div>
    </div>
</nav>