<nav class="navbar navbar-light navbar-dark" style="background-color: #1e5a9a">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PureMatters Inventory</a>

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a class="btn btn-secondary" href="/WEB/V2/settings" role="button">
                    <i class="fa-solid fa-gear"></i> settings
                </a>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <a class="btn btn-secondary" href="/WEB/V2/signin" role="button">test</a>
            </div>
        </div>
    </div>
</nav>
