<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" status="width=device-width, initial-scale=1.0" />

        <title>PureMatters Inventory - System settings</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link href="/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

        <script defer src="/fontawesome/js/all.js"></script>

        <link rel="stylesheet" href="/app.css" />
        <link rel="stylesheet" href="/style.css" />

        <style>
            .dataTables_filter {
                display: none;
            }
        </style>
    </head>

    <body>
        <%- include('includes/navbar', {}); %>

        <!-- Categorie Lijst -->
        <div class="row" style="margin: auto">
            <div id="card-div" class="col-md-12">
                <!-- DataTable -->

                <div class="clearfix">
                    <div style="float: left"><h2>Categorie Lijst</h2></div>
                    <div style="float: right">
                        <a class="btn btn-success" href="/add-products" role="button">
                            <i class="fa-solid fa-plus"></i> Categorie Toevoegen
                        </a>
                    </div>
                </div>

                <table id="table_category" class="table table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Naam</th>
                            <th>Product Bewerken</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th class="text_search">Naam</th>

                            <th>
                                <button type="button" class="btn btn-secondary" id="clearFilterCategory">
                                    <i class="fa-solid fa-eraser"></i> Clear
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!-- Fabrikanten Lijst -->
        <div class="row" style="margin: auto; padding-bottom: 150px">
            <div class="col-md-12">
                <!-- DataTable -->
                <div class="clearfix">
                    <div style="float: left"><h2>Fabrikanten Lijst</h2></div>
                    <div style="float: right">
                        <a class="btn btn-success" href="/add-products" role="button">
                            <i class="fa-solid fa-plus"></i> Fabrikant Toevoegen
                        </a>
                    </div>
                </div>

                <table id="table_manufacturers" class="table table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Naam</th>
                            <th>Product Bewerken</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th class="text_search">Naam</th>

                            <th>
                                <button type="button" class="btn btn-secondary" id="clearFilterManufacturers">
                                    <i class="fa-solid fa-eraser"></i> Clear
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!-- Modal Delete Category -->
        <div
            class="modal fade"
            id="delCategory"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form
                        method="post"
                        action="/api/settings/categories/delete"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Categorie Verwijderen</h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="get_id" name="pid" value="" />
                            Weet u zeker dat u Categorie:
                            <input class="form-control" name="idkl" id="idkl" value="" disabled />
                            wilt verwijderen?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">Ja</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Delete Manufacturers -->
        <div
            class="modal fade"
            id="delManufacturers"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form
                        method="post"
                        action="/api/settings/manufacturers/delete"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Fabrikant Verwijderen</h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="idManufacturer" name="idManufacturer" value="" />
                            Weet u zeker dat u Fabrikant:
                            <input
                                class="form-control"
                                name="nameManufacturer"
                                id="nameManufacturer"
                                value=""
                                disabled
                            />
                            wilt verwijderen?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">Ja</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include('includes/footer'); %>

        <!-- importing bootstrap.js and supporting js libraries -->
        <script src="/js/jquery.min.js"></script>
        <script src="/jquery.dataTables.min.js"></script>
        <script src="/js/dataTables.bootstrap5.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
                $('body').on('click', '.get-id', function () {
                    document.getElementById('get_id').value = $(this).attr('data-id');
                    var ids = $(this).attr('data-name');
                    $('#idkl').val(ids);
                });

                $.fn.dataTable.ext.errMode = 'none';

                // Category
                $('#table_category').on('error.dt', function (e, settings, techNote, message) {
                    console.log('An error has been reported by DataTables: ', message);
                });

                // Create search inputs in footer
                $('#table_category tfoot th').each(function () {
                    var title = $(this).text();
                    if ($(this)[0].className === 'text_search') {
                        $(this).html('<input type="text"  placeholder="Zoek ' + title + '" />');
                    }
                });

                // DataTable initialisation
                var table = $('#table_category').DataTable({
                    paging: true,
                    autoWidth: true,
                    pageLength: 5,
                    lengthMenu: [5, 10, 20, 50],
                    ajax: {
                        type: 'GET',
                        url: '/api/settings/categories',
                        dataSrc: function (json) {
                            console.log(json);
                            return json;
                        },
                    },

                    aaSorting: [],
                    columns: [
                        {
                            data: 'Index',
                            render: function (data, type, full, meta) {
                                return meta.row + 1;
                            },
                        },
                        { data: 'name' },
                        {
                            data: 'id',
                            render: function (data, type, row, meta) {
                                return (
                                    '<a class="btn btn-warning mr-2" href="/edit/' +
                                    data +
                                    '" role="button"><i class="fa-solid fa-pen"></i> Edit</a>' +
                                    ' <button type="button" class="btn btn-danger delCategory" data-bs-toggle="modal" data-bs-target="#delCategory" data-id="' +
                                    data +
                                    '" ><i class="fa-solid fa-trash-can"></i> Delete</button>'
                                );
                            },
                        },
                    ],
                    columnDefs: [{ width: 10, targets: 0 }],

                    initComplete: function (settings, json) {
                        var footer = $('#table_category tfoot tr');
                        $('#table_category thead').append(footer);
                    },
                });
                // Apply the search
                $('#table_category thead').on('keyup', 'input', function () {
                    table.column($(this).parent().index()).search(this.value).draw();
                });

                $('#clearFilterCategory').click(function () {
                    table.search('').columns().search('').draw();
                    $('input:text').val('');
                    $('select').val('');
                });
                // end Category

                // Manufacturers

                $('body').on('click', '.delManufacturer', function () {
                    var name = $(this).attr('data-name');
                    $('#nameManufacturer').val(name);
                    var id = $(this).attr('data-id');
                    $('#idManufacturer').val(id);
                    $('#delManufacturers').modal('show');
                });

                $('#table_manufacturers').on('error.dt', function (e, settings, techNote, message) {
                    console.log('An error has been reported by DataTables: ', message);
                });

                // Create search inputs in footer
                $('#table_manufacturers tfoot th').each(function () {
                    var title = $(this).text();
                    if ($(this)[0].className === 'text_search') {
                        $(this).html('<input type="text"  placeholder="Zoek ' + title + '" />');
                    }
                });

                // DataTable initialisation
                var tableManufacturers = $('#table_manufacturers').DataTable({
                    paging: true,
                    autoWidth: true,
                    pageLength: 5,
                    lengthMenu: [5, 10, 20, 50],
                    ajax: {
                        type: 'GET',
                        url: '/api/settings/manufacturers',
                        dataSrc: function (json) {
                            console.log(json);
                            return json;
                        },
                    },

                    aaSorting: [],
                    columns: [
                        {
                            data: 'Index',
                            render: function (data, type, full, meta) {
                                return meta.row + 1;
                            },
                        },
                        { data: 'name' },
                        {
                            data: 'id',
                            render: function (data, type, row, meta) {
                                return (
                                    '<a class="btn btn-warning mr-2" href="/edit/' +
                                    data +
                                    '" role="button"><i class="fa-solid fa-pen"></i> Edit</a>' +
                                    ' <button type="button" class="btn btn-danger delManufacturer" data-id="' +
                                    data +
                                    '" data-name="' +
                                    row['name'] +
                                    '" ><i class="fa-solid fa-trash-can"></i> Delete</button>'
                                );
                            },
                        },
                    ],
                    columnDefs: [{ width: 10, targets: 0 }],

                    initComplete: function (settings, json) {
                        var footer = $('#table_manufacturers tfoot tr');
                        $('#table_manufacturers thead').append(footer);
                    },
                });
                // Apply the search
                $('#table_manufacturers thead').on('keyup', 'input', function () {
                    table.column($(this).parent().index()).search(this.value).draw();
                });

                $('#clearFilterManufacturers').click(function () {
                    table.search('').columns().search('').draw();
                    $('input:text').val('');
                    $('select').val('');
                });
                // end Manufacturers
            });
        </script>
    </body>
</html>
