<!-- Modal Delete Manufacturers -->
<div
    class="modal fade"
    id="delOrder"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form
                method="post"
                action="/api/products/order/delete"
                enctype="application/x-www-form-urlencoded"
            >
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Verwijderen</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="productId" name="productId" value="<%= id %>" />
                    <input
                        type="hidden"
                        id="ProductOrderAmount"
                        name="ProductOrderAmount"
                        value="<%= ProductOrderAmount %>"
                    />
                    <input type="hidden" id="delOrderId" name="delOrderId" />
                    <input type="hidden" id="delOrderAmount" name="delOrderAmount" />

                    <textarea
                        name="delOrderNotes"
                        id="delOrderNotes"
                        rows="13"
                        style="height: 100%; width: 100%"
                        readonly
                    ></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Ja</button>
                </div>
            </form>
        </div>
    </div>
</div>
