<!-- Modal Create Category -->
<div class="modal fade" id="createCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="/api/settings/categories/create" enctype="application/x-www-form-urlencoded">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Categorie toevoegen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="form-control" name="nameCreateCategory" id="nameCreateCategory" value="" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Ja</button>
                </div>
            </form>
        </div>
    </div>
</div>